a {
  color: black;
  text-decoration: none;
  background: white;
}

a:hover img{
  opacity: 0.25;
}

a:hover .view{
  opacity: 1;
}

.view{
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  top: 50%;
  font-size: 18px;
  font-weight: 400;
  opacity: 0;
}

.instagram{
  background-color: #621ffe;
  color: #fff;
  margin-top: 25px;
}