html {
  scroll-behavior: smooth;
  transition: all 0.5s linear;
}

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  padding-bottom: 100px;
}

.bg {
  background-image: url("/assets/tools-bg.jpg");
  background-size: 300px;
  opacity: 0.1;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-filter: grayscale(60%); /* Safari 6.0 - 9.0 */
  filter: grayscale(60%);
}
.logo {
  pointer-events: none;
  padding: 0px;
  background-image: url("/assets/armbuilds.svg");
  background-repeat: no-repeat;
  height: 60px;
  width: 75px;
  margin: 20px 25px;
}

.logohome {
  background-image: url("/assets/armbuilds.svg");
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;
  margin: 10px 0px;
  background-position: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  background: #fff;
  min-height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* font-size: calc(10px + 1vmin); */
  text-transform: uppercase;
  border-bottom: solid 1px rgb(238, 238, 238);
}

a {
  color: rgb(84, 84, 84);
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
}

nav a {
  border-radius: 5px;
  margin: 10px;
  font-size: 14px;
  padding: 15px 10px;
  text-indent: 0;
  list-style-type: none;
}

#burger {
  display: none;
}
nav a:hover, .btn:hover {
  background: rgb(0, 0, 0);
  color: white;
}

#outer-container {
  z-index: 1;
  padding-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  scroll-margin-top: 100px;
  width: 80%;
  min-width: 330px;
  max-width: 1200px;
  padding: 25px 0px;
  display: flex;
  justify-content: center;
}
/* 
section:nth-child(odd) {
  background: #00000002;
} */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  color: #fff;
  border-radius: 30px;
  font-size: 14px;
  padding: 15px 15px;
  margin-bottom: 15px;
  display: flex;
  justify-items: center;
  align-items: center;
  width: fit-content;
}

.btn span {
  line-height: 0;
  margin: 0px 10px;
}
i {
  font-size: 20px;
  line-height: 0px;
}
.call {
  background-color: blue;
}

.whatsapp, .reviewbtn {
  background-color: #00ce67;
}

.whatsapp-btn:hover,
.call-btn:hover {
  background: black;
  color: white;
}

.call-to {
  margin-left: 25px;
  display: flex;
}

.call-to .call-btn {
  margin: 0;
}

#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-gap: 10px;
  margin-bottom: 40px;
}

h3 span{
  color: #22b573;
}
#services h3 {
  margin: 10px;
  color: #22b573;

}

.services{
  text-align: left;
  padding: 15px 25px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.2); 
  box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: white;
}

.services i{
  color: rgb(211, 211, 211);
}
.services h4{
  color: #22b573;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.services ul {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 10px;
  list-style: none;
  width: 100%;
}

.services ul li {
  /* display: block; */
  position: relative;
  min-width: 250px;
}

.services ul li:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  background: #22b573;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.services li{
  padding: 0px 20px;
  font-weight: 100;
  margin: 0px;
  margin-top: 10px;
}

.contact-btns {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
}
